<% unique_element_id ||= "#{locale}#{location_id}" %>
<span class="debug-info">Served by Javascript (locale: <%= locale %>)</span>
<div id="TA_cdsratingsonlynarrow<%= unique_element_id %>" class="TA_cdsratingsonlynarrow" data-attraction-id="<%= location_id %>" data-attraction-locale="<%= locale %>">
  <ul id="jZYjjLgDV1B" class="TA_links nYM9fCtty" style="list-style: none">
    <li id="qFAS2sk8hi" class="CWAR2bw"></li>
  </ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=<%= unique_element_id %>&amp;locationId=<%= location_id %>&amp;lang=<%= locale %>&amp;border=true&amp;display_version=2"></script>
<script type="text/javascript">
  $().ready(function() {
    App.widgets.push(new App.Model.TripadvisorWidget(<%= location_id %>, "<%= locale %>"));
  });
</script>
