<span class="debug-info cached">Served from cache (locale: <%= locale %>)</span>
<div id="TA_cdsratingsonlynarrow148369815310422972" class="TA_cdsratingsonlynarrow" data-attraction-id="<%= attraction.tripadvisor_attraction_id %>" data-attraction-locale="<%= locale %>">
    <div id="CDSRATINGWIDGET148369815310422972" class="cdsROW white   border   narrow ">
        <div id="CDSROWCONTAINER148369815310422972" class="cdsROWContainer">
            <div id="CDSROWLOC148369815310422972" class="cdsComponent cdsLocName">
                <a id="CDSLOCINNER" target="_blank" href="<%= attraction.data[locale].fetch(:url, "") %>" onclick="ta.cds.handleTALink($cdsConfig.getMcid()); return true;" rel="nofollow"><%= attraction.data[locale].fetch(:name, "") %></a>
            </div>
            <div id="CDSROWRATING148369815310422972" class="cdsComponent cdsRating">
                <img src="https://static.tacdn.com/img2/t4b/bldashboard/bubbleratings/<%= attraction.score %>.png" alt="<%= attraction.score %> of 5 bubbles">
                <span>
                    <%= attraction.ratings %> <%= attraction.data[locale].fetch(:rating_word, I18n.t(:ratings)) %>
                </span>
            </div>
            <div id="CDSROWLOGO148369815310422972" class="cdsComponent logo">
                <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"></a>
            </div>
        </div>
    </div>
</div>
