<h1>Tripadvisor Widgets</h1>

<p>
  The first time all widgets will be loaded and the data will be stored to the database.
  You can bust cache for certain tripadvisor attraction by pressing the button.
</p>

<h2>Ljubljana</h2>
<%= attraction_widget(10105751, locale: "de") %>
<%= attraction_widget(10105751, locale: "it") %>
<%= attraction_widget(10105751, locale: "en_US") %>

<%= button_to "Bust cache for Ljubljana", "/attractions/10105751", method: :delete, remote: true, data: { disable_with: "Deleting in background" } %>

<hr />

<h2>Padua</h2>

<%= attraction_widget(10422625, locale: "en_US") %>
<%= attraction_widget(10422625, locale: "it") %>
<%= attraction_widget(10422625, locale: "es") %>
<%= attraction_widget(10422625, locale: "it_CH") %>

<%= button_to "Bust cache for Padua", "/attractions/10422625", method: :delete, remote: true, data: { disable_with: "Deleting in background" } %>

<hr />

<h2>Venice</h2>

<%= attraction_widget(10422972, locale: "it") %>
<%= attraction_widget(10422972, locale: "en_US") %>
<%= attraction_widget(10422972, locale: "de") %>

<%= button_to "Bust cache for Venice", "/attractions/10422972", method: :delete, remote: true, data: { disable_with: "Deleting in background" } %>

<hr />

<ul>
  <li>slovenska verzija: 10105751 - Ljubljana; 10422972 - Benetke; 10392014 - Verona; 10422625 – Padova</li>
  <li>italijanska verzija: 10422972 - Venice; 10392014 - Verona; 10422625 - Padua; 10422643 – Bologna</li>
  <li>ostale verzije: 10422972 - Venice; 10105751 - Ljubljana; 10392014 - Verona; 10422625 - Padua</li>
</ul>

<p id="notices" style="display: none;"></p>
