/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 640px;
  margin: 0 auto;
}

#notices {
  position: fixed;
  right: 5%;
  top: 5%;
  background-color: rgba(129, 219, 66, .4);
  padding: .5em;
}

.debug-info {
  font-size: 11px;
  font-family: Consolas, 'Lucida Console', monospace;
  padding: .2em .8em;
  background-color: rgba(200,100,0,0.4);
}

.cached {
  background-color: rgba(200,200,0,0.4);
}
