<!DOCTYPE html>
<html>
<head>
  <title>GooptiTripadvisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- This would obviously be using custom styles or more solid fallback -->
  <%= stylesheet_link_tag "https://static.tacdn.com/css2/widget/cdswidget-ratingsonly-v21719610117b.css" %>
</head>
<body>

  <%= yield %>

</body>
</html>
